@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Kalnia', serif;
font-family: 'Lato', sans-serif; */

:root {
  --color-text: #ffffff;
  --color-transparente: #ffffff00;
  --color-title: #f7c130;
  --color-cta: #ff6347;
  --color-dark: #030c1a;
  --default-radius: 5px;
  --default-gap: 20px;
  --mobile-width: 90vw;
  --desktop-width: 50vw;
  --image-shadow: drop-shadow(16px 16px 14px #000000);

  width: 100vw;
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--color-text);
  background: url("./assets/black_texture.png") repeat;
  font-weight: 300;
  font-size: 18px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--default-gap) * 2 );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}




h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-title);
  font-size: 90px;
  /* -webkit-text-stroke: 2px var(--color-text); */
}

