.card {
  width: 100%;
  position: relative;
  border: solid 1px tomato;
}

.sneaker_tile {
  display: block;
  font-family: "Anton", sans-serif;
}

.sneaker_short_title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}

.sneaker_img_module {
  width: 100%;
  height: 50vh;
  border: 1px dashed #ff6347;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slick-slide img {
  filter: var(--image-shadow);
  transform: rotate(-10deg) scale(0.7);
  transition: transform 2s ease;
}

.sneaker_img_module img {
  filter: var(--image-shadow);
  transform: rotate(-10deg) scale(0.7) translate(10px, 50px);
  transition: transform 2s ease;
}


.slick-slide.slick-active.slick-current img{
  transform: rotate(-0deg) scale(1) translate(10px, 50px);;
  transition: transform 2s ease;
}