.card {
  width: 100%;
  position: relative;
  border: solid 1px tomato;
}

.sneaker_big_title_module {
  position: absolute;
  width: 100%;
  height: 70%;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: tan; */
  padding: 10px;
}

.sneaker_short_title {
  font-family: "Anton", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.sneaker_manufacturer {
  font-size: 35vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  color: #7fffd400;
  -webkit-text-stroke: 1.5px var(--color-text);
  /* mix-blend-mode: color-burn; */
}


  

.sneaker_img_module {
  width: 100%;
  height: 50vh;
  border: 1px dashed #ff6347;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slick-slide img {
  filter: var(--image-shadow);
  /* transform: rotate(-10deg) scale(0.7); */
  transition: transform 2s ease;
}

.sneaker_img_module img {
  filter: var(--image-shadow);
  transform: rotate(-10deg) scale(0.7) translate(10px, 50px);
  transition: transform 2s ease;
}

.slick-slide.slick-active.slick-current img{
  transform: rotate(-0deg) scale(1) translate(10px, 50px);;
  transition: transform 2s ease;
}


.sneaker_tile {
  display: block;
  font-family: "Anton", sans-serif;
}