.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  background: url(./img/icon_hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  text-indent: -300%;
}

.container_sidebar {
  border: solid 1px var(--color-text);
  top: 0;
  right: calc( var(--sidebar-width-mobile) * -1);
  width: var(--sidebar-width-mobile);
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.menu {
  background: var(--color-medium-gray);
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in;
  padding: calc(var(--default-gap) * 2);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.menu::before{
  content: "";
  position: absolute;
  left: 0;
  width: 50vw;
  height: 150vh;
  transform: translateY(-50vh);
  background: var(--nav);
  z-index: -1;
}

.menu.open {
  transform: translateX(-100%);
}

.film_category {
  font-family: Anton;
  font-size: 3.2rem;
  padding-bottom: calc(var(--default-gap) / 2);
  font-weight: 300;
  text-transform: uppercase;
}

.film_list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) / 2);
  padding-bottom: var(--default-gap);
}

@media only screen and (min-width: 1024px) {
  .container_sidebar {
    right: 0;
    width: var(--sidebar-width-desktop);
  }
}