.container_sidebar {
  border: solid 1px var(--color-text);
  top: 0;
  right: calc( var(--sidebar-width-mobile) * -1);
  width: var(--sidebar-width-mobile);
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.toggle_menu {
  background-color: var(--color-highlight);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 20px;
  transform: translateX(-60px);
}

.menu {
  background: var(--color-medium-gray);
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in;
  padding: calc(var(--default-gap) *2);
  scroll-behavior: smooth;
  overflow-y: auto;
}

.menu::before{
  content: "";
  position: absolute;
  left: 0;
  width: 50vw;
  height: 150vh;
  transform: translateY(-50vh);
  background: var(--nav);
  z-index: -1;
}

.menu.open {
  transform: translateX(-100%);
}

.film_category {
  font-family: Anton;
  font-size: 3.2rem;
  padding-bottom: calc(var(--default-gap) / 2);
  font-weight: 300;
  text-transform: uppercase;
}

.film_list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) / 2);
  padding-bottom: var(--default-gap);
}
/* 
.film-item-button {
  font-size: 1.6rem;
  line-height: 1.3;
  padding:  1rem  4rem;
  position: relative;
  color: var(--color-text-primary);
  cursor: pointer;
  border-radius: var(--default-radius);
}

.film-item-button::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background: var(--color-text-primary);
  position: absolute;
  left: 2rem;
  top: 1.7rem;
}

.film-item-button.selected {
  color: var(--color-dark);
  background-color: var(--color-text-primary);
  border-radius: var(--default-radius);
}

.film-item-button.selected::before {
  background-color: var(--color-medium-gray);
} 

.film-item-button.favorite{
  background-color: var(--color-dark);
  color: var(--color-text-primary);
}


.film-item-button.favorite.selected::before,
.film-item-button.favorite::before
 {
  content: "";
  background-color: var(--color-title-primary);
  height: 3.4rem;
  width: 2.5rem;
  border-radius: 0;
  left: 1rem;
  top: -0.5rem;
}  */


@media only screen and (min-width: 1024px) {
  .container_sidebar {
    right: 0;
    width: var(--sidebar-width-desktop);
  }
}