.container_sidebar {
  border: solid 1px var(--color-text);
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  position: fixed;
}

.toggle_menu {
  background-color: var(--color-cta);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 20px;
  transform: translateX(-60px);
}

.menu {
  background: var(--nav);
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in;
  padding: 20px;
  color: black !important;
}

.menu::before{
  content: "";
  position: absolute;
  left: 0;
  width: 50vw;
  height: 150vh;
  transform: translateY(-50vh);
  background: var(--nav);
  z-index: -1;
}

.menu.open {
  transform: translateX(-100%);
}

@media only screen and (min-width: 1024px) {
  .container_sidebar {
    right: 0;
    width: 25vw;
  }
}