@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');

/* 
font-family: 'Kalnia', serif;
font-family: 'Lato', sans-serif; 
font-family: "Work Sans", sans-serif;
font-family: "Titillium Web", sans-serif;
font-family: "Chathura", sans-serif;
font-family: "Anton", sans-serif;
*/

:root {
  --color-text: #ffffff;
  --color-transparente: #ffffff00;
  --color-title: #f7c130;
  --color-cta: #ff6347;
  --color-dark: #030c1a;
  --default-radius: 5px;
  --default-gap: 20px;
  --mobile-width: 90vw;
  --desktop-width: 50vw;
  --image-shadow: drop-shadow(16px 16px 14px #000000);

  width: 100vw;
  max-width: 100%;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: var(--color-text);
  background: url("./assets/black_texture.png") repeat;
  font-weight: 300;
  font-size: 18px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--default-gap);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
