@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');

/* 
font-family: 'Kalnia', serif;
font-family: 'Lato', sans-serif; 
font-family: "Work Sans", sans-serif;
font-family: "Titillium Web", sans-serif;
font-family: "Chathura", sans-serif;
font-family: "Anton", sans-serif;
*/

:root {
  --color-text: #ffffff;
  --color-transparente: #ffffff00;
  --color-title: #f7c130;
  --color-cta: #ff6347;
  --color-dark: #030c1a;
  --default-radius: 5px;
  --default-gap: 20px;
  --mobile-width: 90vw;
  --desktop-width: 50vw;
  --image-shadow: drop-shadow(16px 16px 14px #000000);

  width: 100vw;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  color: var(--primary_color);
  font-weight: 300;
  line-height: 1.7;
}

p { font-size: 1.6rem;}

h2, h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3rem;
}

h3 {
  font-weight: 300;
}

body {
  background: url("./assets/black_texture.png") repeat;
  color: var(--color-text);
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--default-gap);
  position: relative;
  overflow: hidden;
}

iframe {
  width: 100% !important;
}

.app_title {
  font-family: Kalnia, serif;
  font-weight: 700;
  font-size: 50px;
  color: var(--color-title);
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
  padding: 20px 50px 0 50px;
  width: 100%;
}

.movie_list {
  display: flex;
  flex-direction: column;
}

.selected-button {
  background-color: #007BFF;
  color: white;
}

.contentWrapper {
  border: solid 1px tomato;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.player{
  border: solid violet;
  display: flex;
  flex-direction: column;
}